@model IEnumerable<Estacionamento.Models.Veiculo>

@{
    ViewData["Title"] = "Veículos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar entrada de veículo</a>
</p>

<form method="get" asp-action="Index" class="form-inline mb-3">
    <input type="text" name="placa" class="form-control form-control-sm mr-2" placeholder="Filtrar por placa" value="@Context.Request.Query["placa"]" style="max-width: 200px;" />
    <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PLACA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HORAENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HORASAI)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PLACA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HORAENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HORASAI)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Excluir</a>

                @if (!item.HORASAI.HasValue)
                {
                    <a asp-action="Saida" asp-route-id="@item.ID" class="btn btn-warning btn-sm">Registrar Saída</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>